<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<div class="card">
    <div class="card-header">
        Invoices
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="/invoice">View invoices</a></li>
            <li class="list-group-item"><a href="/invoice">Create invoice</a></li>
        </ul>
    </div>
</div>

<div class="card mt-3">
    <div class="card-header">
        Management
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="/plugin">Plugins</a></li>
        </ul>
    </div>
</div>